.add-option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $m-size;
}

.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: $zero-size $m-size;
    margin: $m-size 0 0 0;
}

.add-option__input {
    flex-grow: 1;
    background-color: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin: 0 0 $s-size 0; //margin-right: $s-size;
    color: $off-white;
    padding: $s-size;
}

@media (min-width:$desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0  $s-size 0 0;
    }
}