//Big Button Styles
.big-button  {
  background-color: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple,10%);
  color: #fff;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  padding: 2.4rem;
  margin-bottom: $xl-size;
}
.big-button:disabled{
opacity: .5;
}

//Button
.button {
  background-color: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color:#fff;
  font-weight: 500;
  padding:$s-size;
}

//BEM
.button--link{
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}